{# @var user \App\Entity\User #}

{% set role_mapping = constant('App\\Controller\\Admin\\UserCrudController::USER_ROLE_CHOICES') | flip %}

{# Here we can define additional roles, that somehow should not be selectable in the role selector on User CRUD page. #}
{% set role_mapping = role_mapping|merge({
    "ROLE_USER": "user.role.user",
}) %}

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-3"><b>{% trans %}user.username.label{% endtrans %}:</b></div>
            <div class="col-sm-9">{{ user.username }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><b>{% trans %}user.first_name.label{% endtrans %}:</b></div>
            <div class="col-sm-9">{{ user.firstName }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><b>{% trans %}user.last_name.label{% endtrans %}:</b></div>
            <div class="col-sm-9">{{ user.lastName }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><b>{% trans %}user.email.label{% endtrans %}:</b></div>
            <div class="col-sm-9">{{ user.email }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><b>{% trans %}user.role_description.label{% endtrans %}:</b></div>
            <div class="col-sm-9">{{ user.roleDescription }}</div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-3"><b>{% trans %}user.roles.label{% endtrans %}:</b></div>
            <div class="col-sm-9">
                <ul>
                    {% for role in user.roles %}
                        <li>{{ role_mapping[role] | trans }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <p class="text-muted">{% trans %}user.info.change_hint{% endtrans %}</p>
</div>