{% extends "@EasyAdmin/page/content.html.twig" %}
{% form_theme pw_form "@EasyAdmin/crud/form_theme.html.twig" %}

{% block page_title %}{% trans %}user.settings.title{% endtrans %}{% endblock %}

{% block page_content %}


    <div class="card">
        <div class="card-header">
            {% trans %}user.settings.info{% endtrans %}
        </div>
        <div class="card-body">
            {% include('admin/user/_user_info.html.twig') %}
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header">
            {% trans %}password.change_pw.title{% endtrans %}
        </div>
        <div class="card-body">
            {{ form_start(pw_form) }}
            {{ form_row(pw_form.old_password) }}
            {{ form_row(pw_form.plain_password) }}
            <div>
            {{ form_row(pw_form.submit) }}
            </div>
            {{ form_end(pw_form) }}
        </div>
    </div>

    <br>
    <div class="card">
        <div class="card-header">{% trans %}tfa.settings.title{% endtrans %}</div>
        <div class="card-body">
            {% include('admin/user/_2fa_settings.html.twig') %}
        </div>
    </div>
{% endblock %}