{% extends "pdf/form.html.twig" %}
{% import "pdf/payment_order/confirmations.macro.twig" as confirmations %}

{# @var paymentOrder \App\Entity\PaymentOrder #}

{% macro valOrNull(value) %}
    {% if value %}
        {{ value }}
    {% else %}
        -
    {% endif %}
{% endmacro %}

{% block title %}
    Zahlungsauftrag {{ paymentOrder.iDString }}
{% endblock %}

{% block header %}
    <span style="float: left;">Zahlungsauftrag <b>{{ paymentOrder.iDString }}</b></span>
    <span style="float: right;">Formular erzeugt {{ "now"|format_datetime("short") }}</span>
{% endblock %}

{% block content %}
    {# Title section #}
    <p style="line-height: 1.0; font-weight: normal; margin-top: 0;">
        <span style="font-size: 14pt; color: #848484;">Zahlungsauftrag</span><br>
        <b style="font-size: 26pt;">{{ paymentOrder.iDString }}</b><br>
        <i style="font-size: 13pt;">{{ paymentOrder.projectName|u.truncate(50)  }}</i>
    </p>

    {# Data section #}
    <hr>

    <table class="table-form">
        <tr>
            <td>Name Auftraggeber:</td>
            <td>{{ paymentOrder.submitterName }}</td>
        </tr>
        <tr>
            <td>Struktur:</td>
            <td>{{ paymentOrder.department.name }}</td>
        </tr>

        <br>

        <tr>
            <td>Projektbezeichnung:</td>
            <td>{{ paymentOrder.projectName }}</td>
        </tr>

        <br>

        <tr>
            <td>Mittelfreigabe / Finanzantrag:</td>
            <td>{{ _self.valOrNull(paymentOrder.fundingId) }} {% if paymentOrder.resolutionDate %}({{ paymentOrder.resolutionDate | format_date }}){% endif %}</td>
        </tr>
        <tr>
            <td>Gesamtbetrag:</td>
            <td>{{ (paymentOrder.amount/100) | format_currency("EUR") }}</td>
        </tr>
        <tr>
            <td>Unterstützende Mittelfreigabe:</td>
            <td>{{ _self.valOrNull(paymentOrder.supportingFundingId) }} (TODO Beschlussdatum)</td>
        </tr>
        <tr>
            <td>Unterstützter Betrag:</td>
            <td>{% if paymentOrder.supportingAmount %}{{ (paymentOrder.supportingAmount / 100) | format_currency("EUR") }}{% else %}-{% endif %}</td>
        </tr>

        <br>

        <tr>
            <td>Zahlungsempfänger*in:</td>
            <td>{{ paymentOrder.bankInfo.accountOwner }}</td>
        </tr>
        <tr>
            <td>Anschrift:</td>
            <td>{{ paymentOrder.bankInfo.address }}</td>
        </tr>

        <br>

        <tr>
            <td>IBAN:</td>
            <td>{{ paymentOrder.bankInfo.ibanFormatted }}</td>
        </tr>
        <tr>
            <td>Verwendungszweck:</td>
            <td>{{ paymentOrder.bankInfo.reference }}</td>
        </tr>
    </table>


    <p style="text-align: center; font-weight: bold; border: black solid 1px; padding-bottom: 2px;">
        Dieses Dokument muss erst ausgedruckt, dann unterschrieben und anschließend mit allen
        nicht digital vorliegenden Originalbelegen bei den StuRa-Finanzen abgegeben werden!
    </p>

    {# Confirmation section #}
    <hr>
    <h3 style="margin: 0;">Bestätigungen ({{ paymentOrder.numberOfConfirmations }} / {{ paymentOrder.requiredConfirmations }})</h3>
    <span>Eingereicht: {{ paymentOrder.creationDate | format_datetime("short") }}</span>

    {{ confirmations.confirmation_signature(paymentOrder.confirmation1) }}
    {% if paymentOrder.requiredConfirmations > 1 %}
        {{ confirmations.confirmation_signature(paymentOrder.confirmation2) }}
    {% endif %}

{% endblock %}