{# @var \App\Entity\SEPAExport sepaExport #}

{% extends "pdf/template_landscape.html.twig" %}
{% import "pdf/pdf_helpers.html.twig" as helper %}


{% block form_name %}HHV & KV Prüfbestätigung ({% trans %}sepa_export.label{% endtrans %} #{{ sepaExport.id }}){% endblock %}

{% block main %}
    <h3 class="">{% trans %}sepa_export.label{% endtrans %} #{{ sepaExport.id }}</h3>

    <table style="margin-bottom: 0.5cm;">
        <tr>
            <td><b>{% trans %}sepa_export.total_sum{% endtrans %}:</b> {{ (sepaExport.totalSum / 100) | format_currency('EUR') }}</td>
            <td style="padding-left: 5mm;"><b>{% trans %}sepa_export.number_of_payments{% endtrans %}:</b> {{ sepaExport.numberOfPayments }}</td>
            <td style="padding-left: 5mm;"><b>Exportdatum:</b> {{ sepaExport.creationDate | format_datetime }}</td>
        </tr>
        <tr>
            <td style=""><b>{% trans %}sepa_export.initiator_iban{% endtrans %}:</b> {{ sepaExport.initiatorIban }}</td>
            <td style="padding-left: 5mm;"><b>{% trans %}sepa_export.initiator_bic{% endtrans %}:</b> {{ sepaExport.initiatorBic }}</td>
            <td style="padding-left: 5mm;"><b>{% trans %}sepa_export.message_id{% endtrans %}:</b> {{ sepaExport.sepaMessageId }}</td>
        </tr>
        <tr>
            <td style=""><b>Buchungsdatum:</b> {% if sepaExport.bookingDate is not null %}{{ sepaExport.bookingDate | format_datetime() }}{% else %}<i>noch nicht gebucht</i>{% endif %}</td>
        </tr>
    </table>

    <table class="table table-striped table-bordered" style="font-size: 8pt; width: 100%;">
        <thead>
        <tr>
            <th >#</th>
            <th>{% trans %}payment_order.id.label{% endtrans %}</th>
            <th>{% trans %}payment_order.department.label_short{% endtrans %}</th>
            <th>{% trans %}payment_order.project_name.label{% endtrans %}</th>
            <th>{% trans %}payment_order.funding_id.label_short{% endtrans %}</th>
            <th>{% trans %}payment_order.amount.label{% endtrans %}</th>
            <th>Empfänger</th>
            <th>{% trans %}bank_info.iban.label{% endtrans %}</th>
            <th>{% trans %}payment_order.mathematically_correct.label{% endtrans %}</th>
            <th>{% trans %}payment_order.factually_correct.label{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
            {% for payment_order in sepaExport.associatedPaymentOrders %}
                <tr>
                    <td class="index-cell">{{ loop.index }}</td>
                    <td>
                        {{ payment_order.iDString }}
                    </td>
                    <td style="width: 2cm;">
                        {{ payment_order.department.name }}
                    </td>
                    <td style="width: 3.5cm;">
                        {{ payment_order.projectName }}
                    </td>
                    <td>
                        {{ payment_order.fundingId }}
                        {% if payment_order.fsrKomResolution %}
                            <br><i>von FSR-Kom Konto</i>
                        {% endif %}
                    </td>
                    <td>
                        {{ payment_order.amountString }} €
                    </td>
                    <td style="width: 3cm;">
                        <i>{{ payment_order.bankInfo.accountOwner }}<br></i>
                        {{ payment_order.bankInfo.addressMultiline | nl2br }}
                    </td>
                    <td style="width: 2cm;">
                        {{ payment_order.bankInfo.iban }}
                        {% if payment_order.bankInfo.bic is not empty %}
                        <br><i>({{ payment_order.bankInfo.bic }})</i>
                        {% endif %}
                    </td>
                    <td style="padding: 0; vertical-align: bottom; height: 2cm; width: 4cm;">
                        <span style="font-size: 7pt; vertical-align: bottom;">{{ "now" | format_date }}, Maximilian Keller</span>
                    </td>
                    <td style="padding: 0; vertical-align: bottom; height: 2cm; width: 4cm;">
                        <span style="font-size: 7pt; vertical-align: bottom;">{{ "now" | format_date }}, Helen Würflein</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}