{% extends "mails/base_mail.html.twig" %}

{# @var payment_order \App\Entity\PaymentOrder #}

{% block content %}
    <row>
        <columns>
            <h4>{% trans %}payment_order.deletion_email.title{% endtrans %}</h4>
            <br>
            <p>{% trans with {'%fsb_email%': payment_order.department.fsr ? fsb_email : hhv_email} %}payment_order.deletion_email.info{% endtrans %}</p>

            <callout class="secondary">
                <row>
                    <columns>
                        <p>
                            <b>{% trans %}payment_order.notification_user.department{% endtrans %}: </b> {{ payment_order.department.name }}
                        </p>
                        <p>
                            <b>{% trans %}payment_order.notification_user.project_name{% endtrans %}: </b> {{ payment_order.projectName }}
                        </p>
                        <p>
                            <b>{% trans %}payment_order.notification_user.amount{% endtrans %}: </b> {{ payment_order.amountString }} €
                        </p>
                        <p>
                            <b>{% trans %}payment_order.notification_user.datetime{% endtrans %}</b> {{ payment_order.creationDate | format_datetime }}
                        </p>
                        <p>
                            <b>{% trans %}payment_order.notification_user.id{% endtrans %}: </b> {{ payment_order.iDString }}
                        </p>
                    </columns>
                </row>
            </callout>

            <br>

            <p>{% trans with {'%fsb_email%': payment_order.department.fsr ? fsb_email : hhv_email } %}payment_order.confirmation_mail.why{% endtrans %}</p>

        </columns>
    </row>

{% endblock %}