{% extends "mails/base_mail.html.twig" %}

{% block content %}
    <row>
        <columns>
            <h4>{% trans %}payment_order.notification_user.title{% endtrans %}</h4>
            <br>
            <p>{% trans with {'%fsb_email%': fsb_email} %}payment_order.notification_user.info{% endtrans %}</p>

            <callout class="secondary">
                <row>
                    <columns>
                        <p>
                            <b>{% trans %}payment_order.notification_user.department{% endtrans %}: </b> {{ payment_order.department.name }}
                        </p>
                        <p>
                            <b>{% trans %}payment_order.notification_user.project_name{% endtrans %}: </b> {{ payment_order.projectName }}
                        </p>
                        <p>
                            <b>{% trans %}payment_order.notification_user.amount{% endtrans %}: </b> {{ payment_order.amount | format_currency('EUR') }}
                        </p>
                        <p>
                            <b>{% trans %}payment_order.notification_user.datetime{% endtrans %}</b> {{ payment_order.creationDate | format_datetime }}
                        </p>
                        <p>
                            <b>{% trans %}payment_order.notification_user.id{% endtrans %}: </b> #{{ payment_order.id}}
                        </p>
                    </columns>
                </row>
            </callout>

            <p>{% trans with {'%fsb_email%': fsb_email} %}payment_order.notification_user.why{% endtrans %}</p>

        </columns>
    </row>

{% endblock %}