<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}StuRa Finanzanträge{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset("assets/css/bootstrap.css") }}">
        <link rel="stylesheet" href="{{ asset("assets/css/bootstrap-select.css") }}">
        <link rel="stylesheet" href="{{ asset('styles.css') }}">

        <link rel="stylesheet" href="{{ asset("assets/css/fa-all.css") }}">
    {% endblock %}
</head>
<body>
{% block body %}

    <header>
        {% include "_navbar.html.twig" %}
        {% include "_flash.html.twig" %}
    </header>

    <main>
        <div class="container" style="margin-top: 80px;">
            {% block content %}

            {% endblock %}
        </div>
    </main>

    {% include "_footer.html.twig" %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset("assets/js/jquery.slim.js") }}"></script>
    <script src="{{ asset("assets/js/bootstrap.js") }}"></script>
    <script src="{{ asset("assets/js/bootstrap-select.js") }}"></script>

    <script>
        $('.toast').toast('show');
    </script>
{% endblock %}
</body>
</html>
