{% extends "main_card.html.twig" %}

{% block card_title %}<i class="fas fa-file-invoice-dollar fa-fw"></i> {% trans %}payment_order.new{% endtrans %}{% endblock %}

{% block head_javascripts %}
    {# Only allow to upload PDF: change the accept filter of the file input, as soon as the DOM is available #}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('payment_order_references_file_file').accept = '.pdf';
        });
    </script>
{% endblock %}

{% block card_content %}
    {% if not is_productive %}
        <div class="alert alert-warning">
            Testumgebung. Kein produktiver Betrieb! Nicht für echte Eingaben verwenden!
        </div>
    {% endif %}

    <p class="text-muted">
        {% trans %}payment_order.new.hint{% endtrans %}<br>
        {% trans %}payment_order.new.star_hint{% endtrans %}<br>
        {% trans with {'%fsb_email%': fsb_email, '%support_email%': support_email, '%hhv_email%': hhv_email} %}payment_order.new.contact_info{% endtrans %}
    </p>
    <p class="text-muted"></p>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row" {{ stimulus_controller('templates', {"transNotEmpty": "payment_order.new.templates.not_allowed_to_be_empty"|trans,
        "transDeleteConfirm": "payment_order.new.templates.remove_confirm"|trans, "transNameExists": "payment_order.new.templates.name_already_used"|trans}) }}>

        <div class="col-sm-6">
            {# "Auftraggeberin" section #}
            <fieldset>
                <legend>{% trans %}payment_order.new.submitter_info{% endtrans %}</legend>
                <small class="text-muted">{% trans %}payment_order.new.name_hint{% endtrans %}</small>

                {{ form_row(form.submitter_name, {'attr': {'data-json': 'submitter_name'}}) }}
                {{ form_row(form.submitter_email, {'attr': {'data-json': 'contact_email'}}) }}
                {{ form_row(form.department, {'attr': {'data-json': 'department'}}) }}
            </fieldset>

            {# "Mittelfreigabe" section #}
            <fieldset class="mt-2">
                <legend>{% trans %}payment_order.new.payment_info{% endtrans %}</legend>
                {{ form_row(form.amount) }}
                {{ form_row(form.funding_id) }}
                {{ form_row(form.resolution_date) }}

                {{ form_row(form.supporting_amount) }}
                {{ form_row(form.supporting_funding_id) }}

            </fieldset>

            {{ form_row(form.references_file) }}

        </div>

        <div class="col-sm-6">

            {# "Verwendungszweck" #}
            <fieldset>
                <legend>{% trans %}payment_order.new.reference_line{% endtrans %}</legend>
                {{ form_row(form.project_name) }}

                <small class="text-muted">{% trans %}payment_order.new.invoice_and_customer_number_hint{% endtrans %}</small>
                {{ form_row(form.invoice_number) }}
                {{ form_row(form.customer_number) }}
            </fieldset>

            <fieldset>
                <legend>{% trans %}payment_order.new.account_info{% endtrans %}</legend>
                {{ form_row(form.bank_info.account_owner, {'attr': {'data-json': 'account_owner'}}) }}
                {{ form_row(form.bank_info.street, {'attr': {'data-json': 'street'}}) }}
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.bank_info.zip_code, {'attr': {'data-json': 'zip_code'}}) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.bank_info.city, {'attr': {'data-json': 'city'}}) }}
                    </div>
                </div>
                {{ form_row(form.bank_info.iban, {'attr': {'data-json': 'iban'}}) }}
                {{ form_row(form.bank_info.bank_name, {'attr': {'data-json': 'bank_name'}}) }}
            </fieldset>

            <fieldset>
                <legend>{% trans %}payment_order.new.comment{% endtrans %}</legend>
                {{ form_row(form.comment, {'label': false}) }}
            </fieldset>

            <fieldset>
                <legend>{% trans %}payment_order.new.templates.caption{% endtrans %}</legend>

                <div class="input-group mb-3">
                    <input type="text" id="export_name" class="form-control" placeholder="{% trans %}payment_order.new.templates.export_name.placeholder{% endtrans %}" {{ stimulus_target('templates', 'new_name') }}>
                    <button class="btn btn-outline-secondary" title="{% trans %}payment_order.new.templates.save_template.title{% endtrans %}"
                            type="button" {{ stimulus_action('templates', 'saveTemplate') }}>{% trans %}payment_order.new.templates.save_template{% endtrans %}</button>
                    <button class="btn btn-outline-secondary" title="{% trans %}payment_order.new.templates.download_template.title{% endtrans %}"
                            type="button" {{ stimulus_action('templates', 'exportTemplate') }}>{% trans %}payment_order.new.templates.download_template{% endtrans %}</button>
                </div>

                <div class="btn-group w-100 mb-3" role="group">
                    <div class="btn-group w-75" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans %}payment_order.new.templates.load_template{% endtrans %}
                        </button>
                        <div class="dropdown-menu" id="templates_menu"  aria-labelledby="btnGroupDrop1" {{ stimulus_target('templates', 'menu') }}>
                            <span class="p-2">{% trans %}payment_order.new.templates.no_templates{% endtrans %}</span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-outline-secondary w-25" {{ stimulus_action('templates', 'importJSON') }}>{% trans %}payment_order.new.templates.upload{% endtrans %}</button>
                </div>

                <div class="dropdown">
                    <button class="btn btn-outline-danger w-100 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans %}payment_order.new.templates.delete{% endtrans %}
                    </button>
                    <div class="dropdown-menu" id="templates_delete_menu" {{ stimulus_target('templates', 'delete_menu') }} aria-labelledby="dropdownMenuButton">
                        <span class="p-2">{% trans %}payment_order.new.templates.no_templates{% endtrans %}</span>
                    </div>
                </div>
            </fieldset>

        </div>

    </div>

    {{ form_row(form.submit) }}
    {{ form_row(form.submit_new) }}

    {{ form_end(form) }}
{% endblock %}