{% extends "main_card.html.twig" %}

{% block card_title %}<i class="fas fa-file-invoice-dollar fa-fw"></i> {% trans %}payment_order.new{% endtrans %}{% endblock %}

{% block head_javascripts %}
    <script>
        /* function to save JSON to file from browser
        * adapted from http://bgrins.github.io/devtools-snippets/#console-save
        * @param {Object} data -- json object to save
        * @param {String} file -- file name to save to
        */
        function saveJSON(data, filename){

            if(!data) {
                console.error('No data')
                return;
            }

            if(!filename) filename = 'console.json'

            if(typeof data === "object"){
                data = JSON.stringify(data, undefined, 4)
            }

            var blob = new Blob([data], {type: 'text/json'}),
                e    = document.createEvent('MouseEvents'),
                a    = document.createElement('a')

            a.download = filename
            a.href = window.URL.createObjectURL(blob)
            a.dataset.downloadurl =  ['text/json', a.download, a.href].join(':')
            e.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null)
            a.dispatchEvent(e)
        }

        function deserializeForm(data)
        {
            for (var prop in data) {
                if(prop === 'department') {
                    //Update selected department
                    $("#payment_order_department").val(data[prop]).selectpicker("render");
                } else {
                    $("input[data-json='" + prop + "']").val(data[prop]);
                }
            }
        }

        function serializeForm()
        {
            var data = {};

            $("[data-json]").each(function(index) {
                var key = $(this).data('json');
                var value = $(this).val();

                data[key] = value;
            });

            return data;
        }

        function exportJSON() {
            var data = serializeForm();
            var name = $("#export_name").val();
            if(!name) {
                alert("{% trans %}payment_order.new.templates.not_allowed_to_be_empty{% endtrans %}");
                return;
            }

            saveJSON(data, name + '.json');
        }


        function importJSON() {
            const fileSelector = document.getElementById('fileSelect');
            fileSelector.addEventListener('change', (event) => {
                var file = document.getElementById('fileSelect').files[0];
                var reader = new FileReader();
                reader.onload = function(e) {
                    var content = e.target.result;
                    deserializeForm(JSON.parse(content));
                }
                reader.readAsText(file);
            });

            fileSelector.click();
        }

        function saveTemplate() {
            var templates = localStorage.getItem('payment_order_templates') == null ? [] : JSON.parse(localStorage.getItem('payment_order_templates'));

            var name = $("#export_name").val();
            if(!name) {
                alert("{% trans %}payment_order.new.templates.not_allowed_to_be_empty{% endtrans %}");
                return;
            }
            templates.push({
                name: name,
                data: serializeForm(),
            });
            localStorage.setItem('payment_order_templates', JSON.stringify(templates));
            updateTemplateList();
        }

        function loadTemplate(json_string) {
            deserializeForm(JSON.parse(json_string));
        }

        function removeTemplate(index) {
            var templates = localStorage.getItem('payment_order_templates') == null ? [] : JSON.parse(localStorage.getItem('payment_order_templates'));
            if(confirm("{% trans %}payment_order.new.templates.remove_confirm{% endtrans %}")) {
                templates[index] = undefined;
                localStorage.setItem('payment_order_templates', JSON.stringify(templates));
                updateTemplateList();
            }
        }

        function updateTemplateList() {
            var templates = localStorage.getItem('payment_order_templates');
            if (templates) {
                templates = JSON.parse(templates);
                var $menu = $('#templates_menu');
                var $delete_menu = $('#templates_delete_menu');
                //Clear content
                $menu.html("");
                $delete_menu.html("");
                for (var index in templates) {
                    if (!templates[index]) continue;
                    var button = $("<button class='dropdown-item' type='button'>" + templates[index].name + "</button>");
                    button.attr("onclick", "loadTemplate('" + JSON.stringify(templates[index]['data']) + "');");
                    $menu.append(button);

                    var delete_button = $("<button class='dropdown-item' type='button'>" + templates[index].name + "</button>");
                    delete_button.attr("onclick", "removeTemplate(" + index + ");");
                    $delete_menu.append(delete_button);
                }
            }
        }

        window.addEventListener('load', updateTemplateList, false);

    </script>

{% endblock %}

{% block card_content %}
    <p class="text-muted">
        {% trans %}payment_order.new.hint{% endtrans %}<br>
        {% trans %}payment_order.new.contact_info{% endtrans %}
    </p>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row">

        <div class="col-sm-6">
            <fieldset>
                <legend>{% trans %}payment_order.new.general{% endtrans %}</legend>
                <small class="text-muted">{% trans %}payment_order.new.name_hint{% endtrans %}</small>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.first_name, {'attr': {'data-json': 'first_name'}}) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.last_name, {'attr': {'data-json': 'last_name'}}) }}
                    </div>
                </div>

                {{ form_row(form.contact_email, {'attr': {'data-json': 'contact_email'}}) }}
                {{ form_row(form.department, {'attr': {'data-json': 'department'}}) }}
                {{ form_row(form.project_name) }}
                {{ form_row(form.amount) }}
                {{ form_row(form.funding_id) }}
                {{ form_row(form.fsr_kom_resolution) }}
                {{ form_row(form.resolution_date) }}
            </fieldset>

            {{ form_row(form.references_file) }}
        </div>

        <div class="col-sm-6">
            <fieldset>
                <legend>{% trans %}payment_order.new.account_info{% endtrans %}</legend>
                {{ form_row(form.bank_info.account_owner, {'attr': {'data-json': 'account_owner'}}) }}
                {{ form_row(form.bank_info.street, {'attr': {'data-json': 'street'}}) }}
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.bank_info.zip_code, {'attr': {'data-json': 'zip_code'}}) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.bank_info.city, {'attr': {'data-json': 'city'}}) }}
                    </div>
                </div>
                {{ form_row(form.bank_info.iban, {'attr': {'data-json': 'iban'}}) }}
                {{ form_row(form.bank_info.bic, {'attr': {'data-json': 'bic'}}) }}
                {{ form_row(form.bank_info.bank_name, {'attr': {'data-json': 'bank_name'}}) }}
                {# {{ form_row(form.bank_info.reference) }} #}
            </fieldset>

            <fieldset>
                <legend>{% trans %}payment_order.new.comment{% endtrans %}</legend>
                {{ form_row(form.comment, {'label': false}) }}
            </fieldset>

            <fieldset>
                <legend>{% trans %}payment_order.new.templates.caption{% endtrans %}</legend>

                <div class="input-group mb-3">
                    <input type="text" id="export_name" class="form-control" placeholder="{% trans %}payment_order.new.templates.export_name.placeholder{% endtrans %}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="saveTemplate();" title="{% trans %}payment_order.new.templates.save_template.title{% endtrans %}" type="button">{% trans %}payment_order.new.templates.save_template{% endtrans %}</button>
                        <button class="btn btn-outline-secondary" onclick="exportJSON();" title="{% trans %}payment_order.new.templates.download_template.title{% endtrans %}" type="button">{% trans %}payment_order.new.templates.download_template{% endtrans %}</button>
                    </div>
                </div>

                <input type="file" class="btn btn-info" id="fileSelect" accept=".json" hidden>
                <div class="btn-group btn-block mb-3" role="group">
                    <div class="btn-group w-75" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans %}payment_order.new.templates.load_template{% endtrans %}
                        </button>
                        <div class="dropdown-menu" id="templates_menu"  aria-labelledby="btnGroupDrop1">
                            <span class="p-2">{% trans %}payment_order.new.templates.no_templates{% endtrans %}</span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-outline-secondary w-25" onclick="importJSON();">{% trans %}payment_order.new.templates.upload{% endtrans %}</button>
                </div>

                <div class="dropdown">
                    <button class="btn btn-outline-danger btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans %}payment_order.new.templates.delete{% endtrans %}
                    </button>
                    <div class="dropdown-menu" id="templates_delete_menu" aria-labelledby="dropdownMenuButton">
                        <span class="p-2">{% trans %}payment_order.new.templates.no_templates{% endtrans %}</span>
                    </div>
                </div>
            </fieldset>

        </div>

    </div>

    <div class="row mb-3">
        <div class="col-12">
            {{ form_widget(form.submit) }}
            {{ form_widget(form.submit_new) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}